
    <h3>Edit Poem</h3>
    
   
    <div class="row">

        <form action="/poems/{{Poem._id}}" method="post" class="col s12" >
        <input type="hidden" name="_method" value="PUT">
            <div class="form-group">
                <label for="title">Poem title</label>
                <input type="text" class="form-control" id="title"  name="title" value="{{Poem.title}}">
            </div>

            <div class="form-group">
                {{!-- <label for="status">Status</label> --}}
                {{!-- <select id="status" name="status" class="form-control"> --}}
                    {{#select poem.status}}
                    {{!-- <option value="public" class="form-control" selected>Public</option> --}}  <input type="hidden" value="public" >
                    {{!-- <option value="private">Private</option> --}}
                    {{/select}}
                {{!-- </select> --}}
            </div>

            <div class="form-group">
                <label for="body">Poem</label>
                <textarea class="form-control" id="llocation"  name="body">{{Poem.body}}</textarea>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary">save</button>

            </div>

            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.14.1/ckeditor.js"
                integrity="sha256-bEIQpI72w9NJuIVhTLFUF2/8uxl0u5800r8ddViuv+o=" crossorigin="anonymous"></script>
        </form>
    </div>
